.carousel {
	&-item {
		height: 90vh;
	}

	&-content {
		@include centerInDiv;
		text-align: center;
	}

	&__collectionName,
	&__title {
		font-family: "Playfair Display";
		color: #fff;
	}

	&__collectionName {
		font-size: 2.2rem;
		margin-bottom: 3rem;
		animation: moveInLeft 1s ease-out;
	}

	&__title {
		font-size: 5.5rem;
		letter-spacing: 2px;
		margin-bottom: 5rem;
		animation: fadeIn 0.7s ease-in;
	}
}
