.item-card-1 {
	min-height: 40rem;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	transition: all 0.5s;

	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}

	&:hover &__content {
		opacity: 1;
		transform: translateY(0);
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
		opacity: 0;
		transition: all 0.5s;
		display: flex;
		color: #fff;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(100%);

		@include respond(tab-land) {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__name {
		font-size: 3rem;
		text-transform: capitalize;
		letter-spacing: 1px;
		margin-bottom: 1rem;
	}

	&__price {
		font-size: 2rem;
		margin-bottom: 3rem;
	}

	&__buttons {
		& > * {
			font-size: 2rem;
			padding: 0.5rem 1rem;
			border: 1px solid #fff;
		}
	}
}

.item-card-2 {
	&__img {
		position: relative;
		max-height: 35rem;
		overflow: hidden;

		&:hover .item-card-2__buttons {
			opacity: 1;
		}

		&:hover &--back {
			opacity: 1;
		}

		&:hover img {
			filter: brightness(0.8);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--back {
			position: absolute;
			opacity: 0;
			transition: all 0.5s;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;
	}

	&__buttons {
		@include centerInDiv;
		opacity: 0;
		transition: all 0.5s;

		& > * {
			font-size: 2rem;
			padding: 0.5rem 1rem;
			border: 1px solid #fff;

			svg path {
				fill: #fff;
			}
		}
	}

	.sold-out {
		position: absolute;
		top: 5%;
		right: 5%;
		font-size: 14px;
		z-index: 2;
		background: #fff;
		padding: 5px 10px;
	}
}
