.product-popup {
	backdrop-filter: blur(10px);
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
	opacity: 0;
	visibility: hidden;

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		min-height: 40rem;
		display: flex;
		width: 75%;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		transform: translate(-50%, -50%);
		transition: all 0.5s 0.2s;

		@include respond(tab-port) {
			flex-direction: column;
		}
	}

	&__left {
		width: 33.33333%;
		margin: 0;

		@include respond(tab-port) {
			width: 100%;
		}
	}

	&__right {
		width: 67.7777%;

		padding: 3rem 6rem;
		vertical-align: middle;

		@include respond(tab-port) {
			width: 100%;
		}
	}

	&__close {
		font-size: 3rem;
		position: absolute;
		top: 3%;
		right: 3%;
	}

	&__img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
	}

	&__name {
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	&__price {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 3rem;
	}

	&__meta {
		margin-bottom: 2rem;
		& > * {
			margin-bottom: 1rem;
		}
	}

	&__description {
		padding: 2.5rem 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 2rem;
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.showProductPopUp {
	opacity: 1;
	visibility: visible;
}
